.accessimg{

    align-items: start;
    max-width: 3px;
    width: 70%;
    min-height: auto;
    margin: 30px auto;
    padding: 30px;
    border-radius: 25%;

}

.accessimg2{

    align-items: start;
    max-width: 3px;
    width: 70%;
    min-height: auto;
    margin: 30px auto;
    padding: 30px;
    border-radius: 25%;
    padding-right: 30px

}

.img3access{

    align-items: start;
    max-width: 3px;
    width: 70%;
    min-height: auto;
    margin: 30px auto;
    padding: 30px;
    border-radius: 25%;
    padding-right: 30px

}

.css3txt{
    padding: 30px;
    border-radius: 25%;
    padding-right: 30px
}

.htmlcssimg{

    padding: 30px;
    border-radius: 25%;
    padding-right: 30px

}


.imgcore{

    padding: 30px;
    border-radius: 25%;
    padding-right: 30px

}

.imgcorel2{

    padding: 30px;
    border-radius: 25%;
    padding-right: 30px

}

.imgcore3{

    padding: 30px;
    border-radius: 25%;
    padding-right: 30px

}

.imgcorel3{

    padding: 30px;
    border-radius: 25%;
    padding-right: 30px  

}